<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="戻る" defaultHref="/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>ニュース</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/app-icon.png">
      </ion-thumbnail>
      <ion-label>
        <p>カマタカフェ</p>
        <h2>営業時間のお知らせ</h2>
      </ion-label>
      <p class="time">10m</p>
    </ion-item>
    <ion-card-content>
      この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
      この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ。
      <img src="/assets/coffee.png" alt="">
      この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
    </ion-card-content>
  </ion-card>
  <div class="botton-wrapper">
    <ion-button size="small" routerLink="/shop" routerDirection="forward">お店の詳細</ion-button>
    <ion-button size="small" routerLink="/shop-news" routerDirection="forward">その他のニュース</ion-button>
  </div>
</ion-content>