<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="戻る" defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>ニュース</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="shop-cafe">
    <div class="shop-info">
      <div class="card-wrapper">
        <ion-card-subtitle>和菓子屋</ion-card-subtitle>
        <ion-card-title>蒲田屋</ion-card-title>
        <div class="categories">
          <div class="syousetu">小説</div>
          <div class="ehon">絵本</div>
          <div class="yousyo">洋書</div>
        </div>
        <ion-button size="small" routerLink="/shop-cafe" routerDirection="forward">お店の詳細</ion-button>
      </div>
    </div>
  </div>
  <div class="all-news">
    <ion-card routerLink="/news-text-sweets" routerDirection="forward">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/sweets-logo.svg"> </ion-thumbnail>
        <ion-label>
          <p>蒲田屋</p>
          <h2>営業時間変更のお知らせ</h2>
        </ion-label>
        <p class="time">10m</p>
      </ion-item>
    </ion-card>
    <ion-card routerLink="/news-text-sweets" routerDirection="forward">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/sweets-logo.svg"> </ion-thumbnail>
        <ion-label>
          <p>蒲田屋</p>
          <h2>営業時間変更のお知らせ</h2>
        </ion-label>
        <p class="time">10m</p>
      </ion-item>
    </ion-card>
    <ion-card routerLink="/news-text-sweets" routerDirection="forward">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/sweets-logo.svg"> </ion-thumbnail>
        <ion-label>
          <p>蒲田屋</p>
          <h2>営業時間変更のお知らせ</h2>
        </ion-label>
        <p class="time">10m</p>
      </ion-item>
    </ion-card>
    <ion-card routerLink="/news-text-sweets" routerDirection="forward">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/sweets-logo.svg"> </ion-thumbnail>
        <ion-label>
          <p>蒲田屋</p>
          <h2>営業時間変更のお知らせ</h2>
        </ion-label>
        <p class="time">10m</p>
      </ion-item>
    </ion-card>
    <ion-card routerLink="/news-text-sweets" routerDirection="forward">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/sweets-logo.svg"> </ion-thumbnail>
        <ion-label>
          <p>蒲田屋</p>
          <h2>営業時間変更のお知らせ</h2>
        </ion-label>
        <p class="time">10m</p>
      </ion-item>
    </ion-card>
  </div>
</ion-content>