<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Four
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><img src="/assets/news.svg" alt=""></ion-label>
      <ion-label>アカウント設定</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>登録したお店</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>通知設定</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ヘルプ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>セキュリティ</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>BOOK PLACEについて</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
