ion-toolbar, ion-tab-bar{
  height:50px;
  }
ion-list{
  padding: 0 25px;
  margin-top: 20px;
}
ion-item{
  --padding-start:0;
  --padding-end:0;
  height: 60px;
  }
  i{
    width: 35px;
    height: 30px;
    opacity: 1;
    img{
      height: 30px;
      margin: 0 auto;
      display: block;
    }
  }
  ion-label{
    margin-left: 20px;
  }


