.button-icon {
  img {
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }
}

ion-tab-button {
  margin-top: 12px;
  .svg {
    opacity: 0.6;}
}

ion-label {
  font-size: 12px;
  margin-top: 2px;
  font-weight: bold;
}
.tab-selected {
  .svg {
    opacity: 1;
    --color-selected: #15923B !important;
    fill: #15923B;

    path {
      fill: #15923B;
    }
  }
}
