<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="戻る" defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>ニュース</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/bakery-logo.svg">
      </ion-thumbnail>
      <ion-label>
        <p>BAKERY-KAMATA-</p>
        <h2>キャンペーンのお知らせ</h2>
      </ion-label>
      <p class="time">10m</p>
    </ion-item>
    <ion-card-content>
      <p>皆様、こんにちは。お元気でお過ごしでしょうか。</p>
      <p>さて、BAKERY-KAMATA-は今年1月1日に10周年を迎えます。</p>
      <p>これもひとえに皆様のご贔屓ご支援の賜物と感謝しております。</p>
      　<p>1月30日まで10周年記念キャンペーンをおこなっております。</p>
      　<p>スタッフ一同、皆様のご来店心よりお待ち致しております。</p>
      <br>
      <p>詳細は下記URLをご確認ください</p>
      <br>
      <p><span>https://www.〇〇〇〇〇〇.com</span></p>
    </ion-card-content>
  </ion-card>
  <div class="botton-wrapper">
    <ion-button size="small" routerLink="/shop-bakery" routerDirection="forward">お店の情報</ion-button>
    <ion-button size="small" routerLink="/news-bakery" routerDirection="forward">その他のニュース</ion-button>
  </div>
</ion-content>