<ion-header>
  <ion-toolbar>
    <ion-title>
      マップ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" placeholder="お店の名前"></ion-searchbar>

  <ion-list lines="full">
    <ion-item button *ngFor="let item of lists" routerLink="{{item.url}}">
      <ion-label>{{item.name}} <p>{{item.relation}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <div class="map-view"> -->

  <div id="search">
    <img src="assets/search.svg" alt="">
  </div>
  <!-- <div id="search">
    <img src="assets/search.svg" alt="">
  </div> -->
  <!-- <div id="currentlocation"><img src="/assets/location.svg" alt=""></div> -->
  <div id="currentlocation">
    <img src="/assets/location.svg" alt="">
  </div>
  <div id="shop-card" routerLink="/shop" routerDirection="forward">
    <img src="/assets/shop-card.svg" alt="">
  </div>
  <div id="map"></div>
  <!-- </div> -->



  <!-- <div id="search-before">
    <a routerLink="/search" routerDirection="forward">
      <img src="assets/search.svg" alt="">
    </a>
  </div>
  <div id="search" routerLink="/search" routerDirection="forward">
    <a routerLink="/search" routerDirection="forward">
      <img src="assets/search.svg" alt="">
    </a>
  </div>

  <div id="currentlocation">
    <img src="/assets/location.svg" alt="">
  </div>
  <div id="currentlocation-before">
    <img src="/assets/location.svg" alt="">
  </div>

  <div id="shop-card">
    <a routerLink="/shop" routerDirection="forward">

      <img src="/assets/shop-card.svg" alt="">
    </a>
  </div> -->
</ion-content>