<ion-header>
  <ion-toolbar>
    <ion-title>
      マップ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar id="search-bar" (ionInput)="getItems($event)" placeholder="お店の名前"></ion-searchbar>

  <!-- <ion-item button *ngFor="let item of lists" routerLink="{{item.url}}"> -->

  <ion-list lines="full" id="search-list">
    <ion-item button *ngFor="let item of lists" [id]="item.id">
      <!-- <ion-item button *ngFor="let item of lists" id="shop-list" 　id="{{item.id}}"> -->
      <ion-label>{{item.name}} <p>{{item.relation}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-list lines="full" id="search-list">
    <ion-item button id="cafe">
      <ion-label>
        カマタカフェ<p>カフェ</p>
      </ion-label>
    </ion-item>
    <ion-item button id="sweets">
      <ion-label>
        蒲田屋<p>和菓子屋</p>
      </ion-label>
    </ion-item>
    <ion-item button id="bakery">
      <ion-label>
        Bakery-Kamata-<p>パン屋</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <div id="search">
    <img src="assets/search.svg" alt="" class="open search-img">
  </div>

  <div id="currentlocation">
    <img src="/assets/location.svg" alt="">
  </div>

  <div id="shop-cafe">
    <div class="shop-info">
      <div class="card-wrapper">
        <ion-card-subtitle>カフェ</ion-card-subtitle>
        <ion-card-title>カマタカフェ</ion-card-title>
        <div class="categories">
          <div class="syousetu">小説</div>
          <div class="ehon">絵本</div>
          <div class="yousyo">洋書</div>
        </div>
        <ion-button size="small" routerLink="/shop-cafe" routerDirection="forward">お店の情報</ion-button>
      </div>
    </div>
  </div>
  <div id="shop-sweets">
    <div class="shop-info">
      <div class="card-wrapper">
        <ion-card-subtitle>和菓子屋</ion-card-subtitle>
        <ion-card-title>蒲田屋</ion-card-title>
        <div class="categories">
          <div class="syousetu">小説</div>
          <div class="ehon">絵本</div>
          <div class="yousyo">洋書</div>
        </div>
        <ion-button size="small" routerLink="/shop-sweets" routerDirection="forward">お店の情報</ion-button>
      </div>
    </div>
  </div>
  <div id="shop-bakery">
    <div class="shop-info">
      <div class="card-wrapper">
        <ion-card-subtitle>パン屋</ion-card-subtitle>
        <ion-card-title>BAKERY-KAMATA-</ion-card-title>
        <div class="categories">
          <div class="syousetu">小説</div>
          <div class="ehon">絵本</div>
          <div class="yousyo">洋書</div>
        </div>
        <ion-button size="small" routerLink="/shop-bakery" routerDirection="forward">お店の情報</ion-button>
      </div>
    </div>
  </div>
  <div id="map"></div>

</ion-content>