<ion-header>
  <ion-toolbar>
    <ion-title>
      マップ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="map-view"> -->

  <div class="map-view">
    <img id="shop-card" routerLink="/shop" routerDirection="forward" src="/assets/shop-card.svg" alt="">
  </div>
  <div id="currentlocation"><img src="/assets/location.svg" alt=""></div>
  <div id="currentlocation-before"><img src="/assets/location.svg" alt=""></div>
  <div id="map"></div>
  <!-- </div> -->
</ion-content>