
#map{
  width: 100vw;
  height: 90vh;
  position: fixed;
}
#shop-card{
  margin-bottom: 0px;
  bottom: 0;
  display: none;
  position: fixed;

}
#CurrentLocation{
  position: absolute;
  width: 50px;
  height: auto;
  z-index: 1000;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 220px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}