
#map{
  width: 100vw;
  height: 90vh;
  position: fixed;
}
#shop-card{

  position: absolute;
  bottom: 55px;
  display: none;
  position: fixed;

}
#CurrentLocation{
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1000;
  right: 0;
  bottom: 0;
  margin-right: 0px;
  margin-bottom: 30vh;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}