ion-toolbar, ion-tab-bar{
height:50px;
}
#map{
  width: 100vw;
  height: calc(100vh - 100px);
}
#shop-card{
  bottom: 0;
  display: block;
  position: absolute;
  // margin-bottom: 65px;
}
#CurrentLocation{
  position: absolute;
  width: 50px;
  height: auto;
  z-index: 1000;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 240px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}