ion-toolbar, ion-tab-bar{
  height:50px;
  }
.pointcard {
  height: 30vh;
  width: auto;
  padding: 0 5vw;
  
  img {
    margin:0 auto;
    height: 30vh;
    width: auto;
    overflow: hidden;
    opacity: 1;
  }
}

ion-slides {
  width: 100vw;
  height: 45vh;
  // margin-top: -5vh;
  ion-card{
    height: 40vh;
    width: auto;
 margin-bottom: 5vh;
    ion-card-header{
      ion-card-subtitle{
        margin-bottom: 10px;
        text-align: left;
    }
  }
    img {
    width:auto;
    height:20vh;
    margin: 0 auto;
    padding: 0 10vw;
    }
  }
}
ion-button{
  // width: 80vw;
  width: 50vw;
  margin:20px auto;
  height: 35px;
  font-size: 20px;
font-weight: bold;
--padding-top:10px;
  --padding-bottom:10px;
}



// ion-toolbar, ion-tab-bar{
//   height:50px;
//   }
// .pointcard {
//   // height: 30％;
//   height: calc((100% - 100px)/30%);
//   width: auto;
//   img {
//     height: auto;
//     width: 90vw;
//     margin: 5% 0 5% 5vw;
//     overflow: hidden;
//     opacity: 1;
//   }
// }

// ion-slides {
//   width: 100vw;
//   height: 70%;
//   margin: 0 auto;
//   ion-card{
//     width: 300px;
//     ion-card-header{
//       ion-card-subtitle{
//         margin-bottom: 10px;
//         text-align: left;
//     }
//   }
//     img {
//     width:60vw;
//     height:auto;
//     margin: 0 auto;
//     }
//   }
// }
// ion-button{
//   // width: 80vw;
//   width: calc(80vw - 60px);
//   margin:20px auto;
//   height: 40px;
//   font-size: 20px;
// font-weight: bold;
// --padding-top:10px;
//   --padding-bottom:10px;
// }

