.PointCard {
width: 90vw;
margin-left: 5vw;
  img {
    height: auto;
    width: auto;
    overflow: hidden;
    opacity: 1;
  }
}

.slider {
  width: 90vw;
  height: auto;
  // max-width: 280px;
  padding-bottom: 5vh;
  margin-left: 5vw;
  // img{
  //   height: 40vh;
  // }
}

.card {
  img {
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.1))
  }
}
