<ion-header>
  <ion-toolbar>
    <ion-title>
      ニュース
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-segment color="primary" [(ngModel)]="news">
        <ion-segment-button value="today">
          今日
        </ion-segment-button>
        <ion-segment-button value="near">
          付近のお店
        </ion-segment-button>
        <ion-segment-button value="like">
          登録したお店
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div [ngSwitch]="news">
    <ion-list *ngSwitchCase="'today'">
      <ion-card routerLink="/news-text-cafe" routerDirection="forward">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/app-icon.png"> </ion-thumbnail>
          <ion-label>
            <p>カマタカフェ</p>
            <h2>オープンのお知らせ</h2>
          </ion-label>
          <p class="time">10m</p>
        </ion-item>
      </ion-card>
      <ion-card routerLink="/news-text-bakery" routerDirection="forward">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/app-icon.png"> </ion-thumbnail>
          <ion-label>
            <p>BAKERY-KAMATA-</p>
            <h2>キャンペーンのお知らせ</h2>
          </ion-label>
          <p class="time">10m</p>
        </ion-item>
      </ion-card>
      <ion-card routerLink="/news-text-sweets" routerDirection="forward">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/app-icon.png"> </ion-thumbnail>
          <ion-label>
            <p>蒲田屋</p>
            <h2>営業時間変更のお知らせ</h2>
          </ion-label>
          <p class="time">10m</p>
        </ion-item>
      </ion-card>

    </ion-list>

    <ion-list *ngSwitchCase="'near'">
      <ion-card routerLink="/news-text-cafe" routerDirection="forward">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/app-icon.png"> </ion-thumbnail>
          <ion-label>
            <p>カマタカフェ</p>
            <h2>オープンのお知らせ</h2>
          </ion-label>
          <p class="time">10m</p>
        </ion-item>
      </ion-card>
      <ion-card routerLink="/news-text-bakery" routerDirection="forward">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/app-icon.png"> </ion-thumbnail>
          <ion-label>
            <p>BAKERY-KAMATA-</p>
            <h2>キャンペーンのお知らせ</h2>
          </ion-label>
          <p class="time">10m</p>
        </ion-item>
      </ion-card>
      <ion-card routerLink="/news-text-sweets" routerDirection="forward">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/app-icon.png"> </ion-thumbnail>
          <ion-label>
            <p>蒲田屋</p>
            <h2>営業時間変更のお知らせ</h2>
          </ion-label>
          <p class="time">10m</p>
        </ion-item>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'like'">
      <ion-card class="like" routerLink="/news-cafe" routerDirection="forward">
        <div class="shop-info">
          <div class="card-wrapper">
            <ion-card-subtitle>カフェ</ion-card-subtitle>
            <ion-card-title>カマタカフェ</ion-card-title>
            <div class="categories">
              <div class="syousetu">小説</div>
              <div class="ehon">絵本</div>
              <div class="yousyo">洋書</div>
            </div>
          </div>
        </div>
      </ion-card>
      <hr>
      <ion-card class="like" routerLink="/news-sweets" routerDirection="forward">
        <div class="shop-info">
          <div class="card-wrapper">
            <ion-card-subtitle>和菓子屋</ion-card-subtitle>
            <ion-card-title>蒲田屋</ion-card-title>
            <div class="categories">
              <div class="syousetu">小説</div>
              <div class="ehon">絵本</div>
              <div class="yousyo">洋書</div>
            </div>
          </div>
        </div>
      </ion-card>
      <hr>
      <ion-card class="like" routerLink="/news-bakery" routerDirection="forward">
        <div class="shop-info">
          <div class="card-wrapper">
            <ion-card-subtitle>パン屋</ion-card-subtitle>
            <ion-card-title>BAKERY-KAMATA-</ion-card-title>
            <div class="categories">
              <div class="syousetu">小説</div>
              <div class="ehon">絵本</div>
              <div class="yousyo">洋書</div>
            </div>
          </div>
        </div>
      </ion-card>
      <hr>
    </ion-list>
  </div>
</ion-content>