// ion-toolbar, ion-tab-bar{
//   height:50px;
//   }
ion-list{
  padding-bottom: 10px;
}
ion-card{
  margin: 10px auto;
  box-shadow: none;
  // margin: 10px auto;
  padding: 15px 5px;  
  ion-item{
    background-color: white;
  --inner-border-width:0;
  }
  .time{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 10px 0 0;
    font-size: 14px;
  }
}