ion-card{
  .nextpage{
    a{
      position: absolute;
      margin-top:-45px;
      right: 8vw;
      font-size: 18px;
    }
  }
}
.date{
  text-align: center;
  font-weight: bold;
  opacity: 0.8;
}
