<ion-header>
  <ion-toolbar>
    <ion-title>
      ニュース
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="news-content">
    <div class="news-card">
      <img src="/assets/news-card-single.svg" alt="">
      <div class="nextpage">
        <a routerLink="/test" routerDirection="forward">続きを読む</a>
      </div>
    </div>

    <div class="news-card">
      <img src="/assets/news-card-single.svg" alt="">
      <div class="nextpage">
        <a routerLink="/test" routerDirection="forward">続きを読む</a>
      </div>
    </div>
  </div>
    
</ion-content>
