<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="戻る" defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>ニュース</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/florist-logo.svg">
      </ion-thumbnail>
      <ion-label>
        <p>Florist's OTA</p>
        <h2>オープンのお知らせ</h2>
      </ion-label>
      <p class="time">10m</p>
    </ion-item>
    <ion-card-content>
      <p>うららかな日々が続いております。皆様ますますご活躍のこととお慶び申し上げます。</p>
      <p>さて　私こと</p>
      <p>このたび長年温めてきました夢がようやく実現しカフェ「カマタカフェ」を蒲田駅にオープンすることとなりました。</p>
      　<p>店内はお客様におくつろぎいただけるよう空間の開放感とインテリアにこだわりました。またメニューにおいては素材の一つひとつにこだわり他のお店では味わえない創意工夫を凝らしております。</p>
      　<p>オープンは○月○日午前○○時の予定です。ご家族やご友人とお誘い合わせのうえお気軽にお立ち寄りくださいませ。</p>
      　<p>まずは書中にてオープンのご挨拶とご案内を申し上げます。</p>
    </ion-card-content>
  </ion-card>
  <div class="botton-wrapper">
    <ion-button size="small" routerLink="/shop-florist" routerDirection="forward">お店の情報</ion-button>
    <ion-button size="small" routerLink="/news-florist" routerDirection="forward">その他のニュース</ion-button>
  </div>
</ion-content>