<!-- <ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="戻る" defaultHref="/test"></ion-back-button>
    </ion-buttons>
    <ion-title>ニュース</ion-title>
  </ion-toolbar>
  <div class="news-content">
    <div class="news-card">
      <img src="/assets/news-card-full.svg" alt="">
    </div>
  </div>

  <ion-button routerLink="/shop" routerDirection="forward">お店の詳細</ion-button>
</ion-content>
